//screen breakpoints
//Don't convert those to REM !!!
//These are screen sizes and must be in pixels
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xlg: 1400px;

$background: #0A1828;