@import '/src/styles/mixins';

.filtering {
  border-radius: 8px;
  color: #BFA181;
  margin-bottom: 20px;

  .filteringcontainer {
    display: flex;
    align-items: center; /* Aligneer elementen verticaal in het midden */
    gap: 0.5rem; /* Ruimte tussen de elementen */

    .txtfield{
      input {
        color: #BFA181; // Witte tekstkleur binnen het Textfield
        border: 1px solid #BFA181; // Witte rand om het Textfield
        border-radius: 4px; // Optioneel: afgeronde hoeken voor het Textfield
        padding: 10px; // Optioneel: aanpassen van de opvulling
      }

      label {
        color: #BFA181; // Witte kleur voor het label (bijv. "Gebruikersnaam")
      }
    }

  }
}

.addFriends {
  @include border;
  padding: 1rem;
  color: #BFA181;

  .friendGrid {
    @include border;
    padding: 0.5rem;

    .profileInfo {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;

      .profilePicture {
        max-width: 3rem;
        max-height: 3rem;
        margin-right: 0.5rem;
      }
    }
  }
}




